<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCigTkFC6BmldxMUdY2m1yZTWI4-0G2BP8</string>
	<key>GCM_SENDER_ID</key>
	<string>833130301180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adeelsafdar.loginSignup</string>
	<key>PROJECT_ID</key>
	<string>ravish-ae358</string>
	<key>STORAGE_BUCKET</key>
	<string>ravish-ae358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833130301180:ios:cb070dc1bec4748d04f979</string>
</dict>
</plist>
