<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1046501087671-buj2c74j9sm7nlnrl7u67abtgtekvo6q.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1046501087671-buj2c74j9sm7nlnrl7u67abtgtekvo6q</string>
    
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Ravish Events</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>MinimumOSVersion</key>
    <string>14.0</string>
    <key>UILaunchStoryboardName~ipad</key>
    
    <string>LaunchScreenIPad.storyboard</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UIRequiresFullScreen~ipad</key>
    <false/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>APS Environment</key>
    <string>production</string>
    
    <key>aps-environment</key>
    <string>production</string>

    <key>NSRemoteNotificationUsageDescription</key>
    <string>We use notifications to make sure when the user accept the event the notification will arrive to the admin of the app.</string>

    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select images for sharing with friends.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to show nearby events and provide a personalized experience.</string>

    <key>API_KEY</key>
    <string>AIzaSyAw77vzKOpBg8Z285RxIc67Y2gByDfs_wg</string>
    <key>GCM_SENDER_ID</key>
    <string>1046501087671</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.adeelsafdar.loginsignup.loginSignup</string>
    <key>PROJECT_ID</key>
    <string>auth-72203</string>
    <key>STORAGE_BUCKET</key>
    <string>auth-72203.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1046501087671:ios:63ef412c9a34f4d6b83032</string>
</dict>
</plist>
